*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html

# Mac crap
.DS_Store
*/.DS_Store
application/.DS_Store
application/controllers/.DS_Store

htdocs/.DS_Store

htdocs/cd-resource

application/config/.DS_Store
